[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pipecat-ai = {extras = ["deepgram", "cartesia", "openai", "silero"], version = "*"}
fastapi = "*"
uvicorn = "*"
python-dotenv = "*"
loguru = "*"
openai = "*"
twilio = "*"

[requires]
python_version = "3.10"
python_full_version = "3.10.12"

[scripts]
dev = "watchmedo shell-command --patterns='src/*' --recursive --command='python src/server.py' ."

[dev-packages]
watchdog = {extras = ["watchmedo"], version = "*"}
